body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgb(236, 228, 183);
    color: rgb(104, 46, 4);
}
header {
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    width: 40%;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
    background-color: white;
}
td:first-child {
    background: #398AA4;
}
figure {
    padding-top: 40px;
}
figcaption {
    padding-bottom: 15px;
    font-weight: bold;
}